*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {

}
body {
font-family: "RobotoRegular", sans-serif;
font-size  : 16px;
}


/*===========*/
*{
	padding:0; margin:0;
	list-style-type: none;
}

.main{
	width: 951px; 
	margin: 0 auto;
	}



/*=== HEADER ===*/
.head{
}

.logo, .phone, .help, .korzina{
	float: left;
	margin: 0px;
}

		.head h2{
		float : right;
		margin: 0 0 0 15px;
		}

	.logo{
	margin    : 20px 0;
	}
	.logo h2{
	font      : normal 30px "ProximaNovaBlack";
	color     : #2D2D2D;
	margin-top: 15px;
	}
.logo span{
	font: 15px "ProximaNovaRegular";
	color: #646464;
}
.phone {
	margin-left: 150px;	
	margin-top: 35px;
}
.phone h2{
	font: bold 18px "ProximaNovaBold";
	color: #2D2D2D;
	margin-top: 6px;
}
.phone span{
	font: normal 18px "ProximaNovaRegular";
	color: #646464;
	margin-top: 6px;
}

.help{
	margin-left: 80px;	
	margin-top: 35px;
}
.help h2 a{
	font: 15px "ProximaNovaBold";
	color: #2D2D2D;
	display: block;
	margin-top: 9px;
}

.help h2 a:hover{
	font: 15px "ProximaNovaBold";
	color: #cc5245;
	display: block;
	margin-top: 9px;
}

.korzina{
	float: right;
	margin-top: 35px;
}
.korzina a{
	font: 15px "ProximaNovaBold";
	color: #2D2D2D;
	display:inline-block;
	margin-top: 9px;
}

.korzina a:hover{
	font: 15px "ProximaNovaBold";
	color: #cc5245;
	display:inline-block;
	margin-top: 9px;
}




/*=== MENU ===*/
.main-menu{
	display: inline-block;
	border-top: 2px solid #72645f;
	border-bottom: 2px solid #72645f;
}

.menu{
}

.menu li{
	float: left;
	display: inline-block;
	padding: 17px 44.7px;
}

.menu li a{
	text-decoration: none;
	font: bold 18px "Rex Light";
	font-weight: bold;
	color: #2d2d2d;
	text-transform: uppercase;
}

.menu li a:hover{
	text-decoration: none;
	font: bold 18px "Rex Light";
	color: #cc5245;
}

/*CONTENT*/

	/*Slider1*/
	.slider1{
		background: url("/img/slider1-1.png");
		height: 337px;
		margin-top: 4px;
	}
	

	/*Kategor*/
	.main-kategor{
	}

	.kategor li{
	display: inline-block;
	float: left;
	background: url("/img/bg-kategor.png");
	margin: 12px 6.3px;
	height: 180px;
	width: 180px;
	padding: 140px 20px 20px 30px;
	text-align: center;
	}
	.kategor li:first-child{
		margin-left: 0;
	}
	.kategor li:last-child{
		margin-right: 0;
		padding-top: 117px;
	}
	.kategor li a{
		text-transform: uppercase;
		text-decoration: none;
		font: bold 15px "ProximaNovaRegular";
		color: #2D2D2D;

	}
	.kategor li a:hover{
		text-transform: uppercase;
		text-decoration: none;
		font: bold 15px "ProximaNovaRegular";
		color: #cc5245;
	}
	.kategor li img{
		position: absolute;
	}

	.kat-img1{
		
		margin: -120px -20px 0 -33px ;
		text-align: center;		

	}

	.kat-img2{
		margin: -120px -20px 0 -38px ;
		text-align: center;
	}


	.kat-img3{
		margin: -120px -20px 0 -17px ;
		text-align: center;
	}


	.kat-img4{
		margin: -120px -20px 0 -14px ;
		text-align: center;
	}


	.kat-img5{
		margin: -90px -20px 0 1px ;
		text-align: center;
	}

.type-size{
	margin-top: 243px;
}
.type-size h2{
	float: left;
	text-transform: uppercase;
	font: 24px "Rex Bold";
	color: #2D2D2D;
	
}

.slide-nav a{
	position: relative; 
	/*margin-bottom: 20px;*/
	text-decoration: none;
	color: #E0CFA7;
	font: bold 34px "Rex Bold";
	float: right;
}

/*.slide-nav a:hover{
	color: #cc5245;
	font: bold 34px "Rex Bold";
	float: right;
}*/



/*.type-size h2 a{
	display: inline-block;
	text-decoration: none;
	color: #E0CFA7;
	font: bold 34px "Rex Bold";
	float: right;
}

.type-size h2 a:hover{
	text-decoration: none;
	color: #cc5245;
	font: bold 34px "Rex Bold";
	float: right;
}
*/




/*FOOTER*/


